@page "/"
@page "/games"

<h1>Recent games</h1>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Time</th>
            <th>Players</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>15 jan 8:00</td>
            <td><span class="player-looser">Artem Syromiatnikov</span> vs. <span class="player-winner">Martin Stewart</span></td>
            <td><span class="score-looser">8</span> : <span class="score-winner">10</span></td>
        </tr>
        <tr>
            <td>15 jan 12:00</td>
            <td><span class="player-looser">Artem Syromiatnikov</span> vs. <span class="player-winner">Martin Stewart</span></td>
            <td><span class="score-looser">2</span> : <span class="score-winner">10</span></td>
        </tr>
        <tr>
            <td>15 jan 14:15</td>
            <td><span class="player-winner">Artem Syromiatnikov</span> vs. <span class="player-looser">Martin Stewart</span></td>
            <td><span class="score-winner">10</span> : <span class="score-looser">3</span></td>
        </tr>
    </tbody>
</table>
