@page "/players"

<h1>Players</h1>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Winrate</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Plays</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Artem Syromiatnikov</td>
            <td><span class="winrate-avg">37.5%</span></td>
            <td>3</td>
            <td>5</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Martin Stewart</td>
            <td><span class="winrate-high">90%</span></td>
            <td>9</td>
            <td>1</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Professor McGonagall</td>
            <td><span class="winrate-high">75%</span></td>
            <td>6</td>
            <td>2</td>
            <td>8</td>
        </tr>
    </tbody>
</table>
